* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

#canvas {
    /* 跟屏幕一样高 */
    /* height: 100vh; */
    /* 跟屏幕一样宽 */
    /* width: 100vw; */
    /* border: 1px solid red; */
    /* canvas默认是inline元素 */
    /* display: block; */

    display: block;
}
